<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSGO Club</title>
    <link href="~/csgoclublogo2 (1).ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header style="position: fixed;width: -webkit-fill-available;z-index: 10;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="justify-content:space-between">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/assets/csgoclubbanner2.png" />
                </a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("SignIn", "Account")'">
                    Login
                </button>
            }
            else
            {
        <div>
            <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("Index", "Lobby")'">
                Lobby
            </button>
            <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("Index", "Friends")'">
                Friends
            </button>
            <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("Index", "Profile")'">
                Profile
            </button>
            <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("SignOut", "Account")'">
                Logout
            </button>
        </div>
            }
        </nav>
    </header>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-4">
            <main role="main" class="pb-3" style="margin-top: 115px;" id="main-body">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CSGO Club - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
