@model List<CsgoClubEF.Entities.GameMatch>
@{
    ViewData["Title"] = "Game Matches";
}
<link href="~/css/card.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="main-body">
        <button class="btn btn-primary btn-md p-2" type="button" onclick="location.href='@Url.Action("Create", "Lobby")'">
            Criar Sala
        </button>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            @foreach (var f in Model)
            {
                var leader = f.Matches.ToList().Find(x => x.IsLeader)?.User;
                var avgKdr = f.Matches.ToList().Sum(x => x.User.KDR) / f.Matches.Count();
                var avgRank = f.Matches.ToList().Sum(x => x.User.Rank) / f.Matches.Count();
                <div class="col mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/340x120/FFB6C1/000000" alt="Cover" class="card-img-top">
                        <div class="card-body text-center">
                            <img src="@leader.ProfilePicture" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                            <a href="/Profile/Index/@leader.SteamId">
                                <h5 class="card-title">Sala de @leader.Name</h5>
                            </a>
                            <h5 class="card-title">@avgKdr</h5>
                            <h5 class="card-title">@avgRank</h5>
                        </div>
                        <div class="card-footer">
                            <button onclick="location.href='@Url.Action("EnterLobby", "Lobby", new { id= f.Id})'" class="btn btn-light btn-sm bg-white has-icon btn-block" type="button"><i class="material-icons"></i>ENTRAR</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>