@model csgo_club_web_app.Models.MatchModel
@{
    ViewData["Title"] = "Lobby Match";
}
<link href="~/css/card.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="main-body">
        @if (Model.GameMatch.MatchStartDate != null)
        {
            <div class="row justify-content-between mb-4">
                <div class="justify-content-center align-items-center">
                    <div>
                        Match Start
                    </div>
                    <div>
                        @Model.GameMatch.MatchStartDate
                    </div>
                </div>
                @if (Model.GameMatch.MatchEndDate != null)
                {
                    <div class="justify-content-center align-items-center">
                        <div>
                            Match End
                        </div>
                        <div>
                            @Model.GameMatch.MatchEndDate
                        </div>
                    </div>
                }

            </div>
        }
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            @foreach (var m in Model.GameMatch.Matches)
            {
                var random = new Random();
                var color = String.Format("#{0:X6}", random.Next(0x1000000));
                <div class="col mb-3">
                    <div class="card">
                        <div style="background-color:@color; width:100%; height:100px" alt="Cover" class="card-img-top"></div>
                        <div class="card-body text-center">
                            <img src="@m.User.ProfilePicture" style="width:100px;height:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                            <h5 class="card-title">@m.User.Name</h5>
                            <h5 class="card-title">@m.User.ADR</h5>
                            <h5 class="card-title">@m.User.Rank</h5>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.IsLeader)
        {
            <div>
                @if (Model.GameMatch.Status == CsgoClubEF.Entities.MatchStatus.Lobby)
                {
                    <a class="btn btn-info update-lobby-state mb-4" asp-action="Start" asp-controller="Lobby" asp-route-id="@Model.GameMatch.Id" asp-route-ip="@Model.GameMatch.Server.Ip">Start Server</a>
                }
                else if (Model.GameMatch.Status == CsgoClubEF.Entities.MatchStatus.Started)
                {
                    <div class="container">
                        <div class="form-group">
                            <label>Command:</label>
                            <input form="Command" id="commandinput" />
                        </div>
                        <button class="btn btn-primary btn-md p-2" type="submit" id="commandbutton" onclick="handleCommandButtonClick('@Model.GameMatch.Server.Ip')">
                            Execute Command
                        </button>
                        <a class="btn btn-info update-lobby-state" asp-action="Stop" asp-controller="Lobby" asp-route-id="@Model.GameMatch.Id" asp-route-ip="@Model.GameMatch.Server.Ip">Stop Server</a>

                    </div>
                }
            </div>
        }
        @if (Model.GameMatch.Status == CsgoClubEF.Entities.MatchStatus.Lobby)
        {
            <a class="btn btn-info mb-4" asp-action="ExitLobby" asp-controller="Lobby">Exit Lobby</a>
        }
        @if (Model.GameMatch.Status == CsgoClubEF.Entities.MatchStatus.Finished)
        {
            <div>
                <h1>Partida encerrada</h1>
                <a class="btn btn-info" href="@Model.GameMatch.DemoUrl" target="_blank">Baixar replay</a>
            </div>
        }
        @if (Model.GameMatch.Password != null && Model.GameMatch.Password != "" && Model.GameMatch.Status != CsgoClubEF.Entities.MatchStatus.Finished)
        {
            <p>Paste that into CSGO console: connect @Model.GameMatch.Server.Ip; password @Model.GameMatch.Password</p>
        }
    </div>
</div>

<section></section>
@section Scripts {
    <script src="~/axios/axios.js" type="text/javascript"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
    <script type="text/javascript">
        var currentMatchId = '@Model.GameMatch.Id';
        function handleCommandButtonClick(ip) {
            const command = document.getElementById('commandinput').value;
            axios.post(`/lobby/executecommand?command=${command}&ip=${ip}`);
        }

        var connection = new signalR.HubConnectionBuilder().withUrl("/matchhub").build();

        connection.start().then(function () {
            console.log('Connected to hub');
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("UpdateLobby", function (matchId) {
            if (matchId == currentMatchId) {
                window.location.reload();
            }
        });
    </script>
}